.carousel-item{
    height: 40vh;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-inner{
    max-height: 40vh;
}

.btn-secondary{
    height: 8vh;
}

#formulario{
    width: 60vw;
}
@media only screen and (max-width: 992px){
    #formulario{
        width: 95vw;
    }
}